
body {
  background-color: #33467c;
}

header {
  background-color: #ffffff ;
  border-color: #cccccc;
  width:100%;
  padding-left: 40px;
}

#heading {  
  font-family: 'Georgia', Times, Times New Roman, serif;
  text-align: center;
  width: 100%;
  padding-left: 0px;  
  display: flex;
  justify-content: space-between;
}

a {
  color: black;  
}

a:hover {
  color: cyan;
}

#nav {
  padding: 25px;
  display: inline;
  margin-right: 2%;
  padding-bottom: 0;
}

#name {
  background-color: #33467c;
  padding: 30px;
  color: white;
  font-size: xx-large;
  width: 20%;
  height: 100%;
  display: inline-block;
  border-radius: 5px;
}

#about {
  font-size: x-large;
  border-right-color: #c00c00;
  margin-right: 10px;
  display: inline;
}

#portfolio {
  font-size: x-large;
  border-right-color: #c00c00;
  padding-top: 10px;
  margin-right: 5px;
  display: inline;
}

#contact {
  font-size: x-large;
  display: inline;
}

#message {
  margin-top: 10px;
}

.portfolio-img {
  width: 100%;
  margin: 10px;
}

#full {
  background-color: #ffffff;
  margin: 70px;
  padding: 50px;
  width: 960px;
  border-radius: 20px;
  border: #dddddd;
  border-width: 2px;
  text-align: left;
  font-size: 30px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;;
  color: #777777;
}

#about-me-img {
  float: left;
  margin-right: 10px;
}

.footer {
  background-color: #666666;
  color: white;
  height: 20px;
  font-size: small;
  text-align: center;
  padding: 0;
  margin: 0;
  position: fixed;
  width: 100%;
  bottom: 0;
 }

 #form {
  text-align: left;
  margin: 15px;
}

textarea, input {
  width: 100%;
}

#submit-btn {
  width: 15%;
  height: 50px;
  background-color: green;
  border-radius: 10px;
  font-size: large;
}

img {
  max-width: 100%;
}


/* Media Query */
@media screen and (max-width: 980px) {
  #name,
  #nav,
  #full {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  #name,
  #nav,
  #full {
    width: 50%;
  }
}


/* Static header */
@media screen and (max-width: 50px) {
  #name,
  #nav,
  #full {
    width: 50%;
  }
}

  header {
    position: static;
  }

  footer {
    position: static;
  }



 
